
.App {
    font-family: Monospace;
}

.Banner {  
  background-color: #262626;
  border-style: groove;
  width: 35%;
  margin: 20px 25px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 0.5s;
}
.Banner:hover{
  transform: translateX(-2px);
  transform: translateY(-2px);
}

.Banner-text {
  color: #61dafb;
  text-align: left;
  padding-left: 1%;
  font-size: calc(10px + 2vmin);
}

.row
{
  display: flex;
  height: 88%;
  align-items: center;
}

.Card
{
  background-color: #595959;
  width: 300px;
  height: 430px;
  display: inline-block;
  border-radius: 10px;
  border-style: dashed;
  border-color: #000;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 25px;
  transition: transform 0.5s;
}

.Card:hover{
  transform: translateY(-10px);
}
.Card-Data-Header
{
  color: #059dc7;
  text-align: center;
  text-decoration: underline;
}

.Card-Text
{
  color: white;
  text-align: center;
  font-size: 15px;
}

